[submodule "qooxdoo"]
	path = qooxdoo
	url = https://github.com/unify/qooxdoo.git
[submodule "support/phonegap-iphone"]
	path = support/phonegap-iphone
	url = https://github.com/unify/phonegap-iphone.git
[submodule "support/phonegap-android"]
	path = support/phonegap-android
	url = https://github.com/unify/phonegap-android.git
[submodule "support/jasy/jasy"]
	path = support/jasy/jasy
	url = https://github.com/fastner/jasy.git
